body {
  background-image: url("earthglow.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  margin-top: 200px;
  margin-bottom: 250px;
  text-align: center;
  font-weight: bold;
  color: darkblue;
  font-family: cursive;
  font-size: 40px;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #e1edff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
  }

  to {
    text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
  }
}

.body #intro {
  font-size: 80px;
  color: darkblue;
  font-family: cursive;
}
