body {
  align-content: center;
  text-align: center;
  background: linear-gradient(-45deg, #b4dcff, #ccf1ed, #cbffe6, #9ecce6);
}

#click {
  font-family: arial;
  font-variant: small-caps;
  padding: 60px;
  font-size: 20px;
}

.frame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  max-width: 55%;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
}

.here {
  color: darkblue;
}

.here:hover {
  text-decoration: none;
}
